 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Literally nobody (yes, as opposed to figuratively nobody) asked me to create this site, but I did. It hosts Hacknet Extensions in a place other than the Workshop, or Nexus Mods. More specifically, it hosts them on GitHub.</p>
                </div>
                <div class="col-lg-4">
                    <p>This is completely legal, as I'm getting the files using Valve's SteamCMD, and moreover Hacknet's developer, Matt Trobbiani, has (thankfully) allowed anonymous workshop downloads for people that use the GOG/Itch/? versions. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
					<p>
						<br>
						If I receive a request from Matt to take the site down, I will comply.
						<br>
						If you do not want to use my site, you can use the following guide:
						<a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1310008131" class="btn btn-lg btn-outline">
							<i class="fa fa-info-circle"></i> Downloading Steam Workshop Mods
						</a>
					</p>
                </div>
            </div>
        </div>
    </section>
